@page "/employeecrud"
@page "/employeecrud/{EmployeeID:int?}"
<PageTitle>StarTED CRUD</PageTitle>
@rendermode InteractiveServer

@using StarTEDSystem.BLL
@using StarTEDSystem.Entities

<h1>Employee Maintenance</h1>

@if (!string.IsNullOrWhiteSpace(feedBackMsg))
{
    <div>
        <p>@feedBackMsg</p>
    </div>
}

@code {
    [Parameter]
    public int? EmployeeID { get; set; }

    private string feedBackMsg = "";
    private Employee employeeInfo = new Employee();

    [Inject]
    private EmployeeServices EmployeeServices { get; set; }

    protected override void OnInitialized()
    {
        try
        {
            if (EmployeeID.HasValue && EmployeeID.Value > 0)
            {
                employeeInfo = EmployeeServices.Employee_GetById(EmployeeID.Value);
            }
            else
            {
                employeeInfo = new Employee();
            }
        }
        catch (Exception ex)
        {
            feedBackMsg = $"Errpr: {ex.Message}";
        }
    }

}
