@page "/employeecrud"
@page "/employeecrud/{EmployeeID:int?}"
<PageTitle>StarTED CRUD</PageTitle>
@rendermode InteractiveServer

@using StarTEDSystem.BLL
@using StarTEDSystem.Entities

<h1>Employee Maintenance</h1>

@if (!string.IsNullOrWhiteSpace(feedBackMsg))
{
    <div>
        <p>@feedBackMsg</p>
    </div>
}
<EditForm EditContext="@editContext"><DataAnnotationsValidator/> <ValidationSummary />
    <div class="row">
        <div class="col-md-6">
            <p>Form fieldss</p>
        </div>
    </div>
</EditForm>


@code {
    [Parameter]
    public int? EmployeeID { get; set; }

    private string feedBackMsg = "";
    private Employee employeeInfo = new Employee();
    private EditContext editContext;
    private ValidationMessageStore validationMessageStore;


    [Inject]
    private EmployeeServices EmployeeServices { get; set; }

    protected override void OnInitialized()
    {
        try
        {
            if (EmployeeID.HasValue && EmployeeID.Value > 0)
            {
                employeeInfo = EmployeeServices.Employee_GetById(EmployeeID.Value);
            }
            else
            {
                employeeInfo = new Employee();
            }
            editContext = new EditContext(employeeInfo);
            validationMessageStore = new ValidationMessageStore(editContext);
        }
        catch (Exception ex)
        {
            feedBackMsg = $"Errpr: {ex.Message}";
        }
    }

}
