@page "/"

<PageTitle>Home</PageTitle>

<h1>StarTED Project</h1>

<h2>Deliverable Descriptions :</h2>
In deliverable1, we did the Query component that allows the user to search for active employees using a partial name match on either the employee’s first or last name. 
Note: I'm sorry; I accidentally created this project in .net 8 but in my last commit I upgraded my project and all the ef core packages to .net9